{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="E746CD499E854858EB3DAED9391D48A0" />
    <meta name="google-site-verification" content="R0sOjvxn7P34hADoOrc89lP-faPCQ0rJfA0oa_tYd1E" />
    <meta name="description" content="Register or log in to your Aetna account at Aetna.com/access in minutes! Follow our step-by-step guide to create an account, verify your details, and access your health benefits anytime." />
    <meta name="keywords" content="Aetna.com/access, Aetna login, Aetna registration, create Aetna account, Aetna member portal" />
    <meta name="robots" content="index, follow" />
    <title>Register or Log In to Your Aetna Account at Aetna.com/access – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
